.item {
  background-color: #f1f1f1;
  margin-top: 10vh;
  height: 90vh;
  display: flex;
  justify-content: space-around;
}

.carousel_container {
  width: 40%;
  height: 100%;
}

.info {
  width: 40%;
}

.name {
  padding-top: 24px;
  font-size: 32px;
  text-decoration: underline;
  height: 10%;
}

.description {
  font-size: 24px;
  width: 80%;
  height: 20%;
}

.cost {
  font-size: 24px;
  height: 10%;
}

.btn {
  font-size: 20px;
  color: #f1f1f1;
  background-color: #242424;
  padding: 12px;
  margin-bottom: 32px;
  cursor: pointer;
}

.sizes {
  height: 3%;
  width: 50%;
  margin-top: 5%;
  display: flex;
}

.size_container {
  width: 10%;
  height: 100%;
  margin: 12px;
  display: flex;
  justify-content: space-between;
}

.radio {
  display: none;

  &:checked + label {
    background-color: #242424;
    color: #f1f1f1;
  }
}

.size {
  display: inline-block;
  background-color: #ddd;
  font-family: Arial;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  transition: ease all 150ms;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #242424;
    color: #f1f1f1;
  }
}
