.image_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 90%;
  position: relative;
  margin: 0 auto;
}

.image {
  height: 90%;
  border-radius: 12px;
}

.arrow_left {
  position: absolute;
  left: 16px;
  background-color: transparent;
  border: none;
}

.arrow_right {
  position: absolute;
  right: 16px;
  border: none;
  background: transparent;
}

.arrow {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.637);
  cursor: pointer;
}
